[2017-03-03 14:27] faroit opened #2 "Update dependencies"
lets update the dependencies one by one:

* [ ] jquery 2.1.1 > 3.1.1
* [ ] jquery mobile 1.4.4 > 1.4.5
* [ ] moustrap 1.4.6 > 1.6.0
* [ ] yamljs: no idea. Did we use https://github.com/jeremyfa/yaml.js ?
* [ ] noUIslider: 8.0.2 > 9.2.0

[2017-03-08 10:11] #2 closed, assigned to mschoeffler

[2017-03-08 11:27] faroit opened #4 "MushraResultsPage is missing"
loading the `mushra_showresults.yaml` yields in an error. The problem is that it cannot find the `MushraResults` page (see [here](https://github.com/faroit/webMUSHRA/blob/master/startup.js#L109). Maybe this is a leftover from an older branch?

[2017-03-08 11:31] faroit opened #5 "Add screenshot"
<img width="996" alt="screen shot 2017-03-08 at 12 30 32" src="https://cloud.githubusercontent.com/assets/72940/23702359/2cbcd8e2-03fb-11e7-86db-ec51bb99956f.png">

[2017-03-08 11:32] #5 closed, assigned to faroit

[2017-03-08 11:55] faroit opened #7 "Open Issues before release"
I think #4 is fixed, we can make a public release and add more things later.
Shall we reset the version to `1.0.0` (it's on `1.3.0` currently)? I would keep it like this because it reflects the difference to our internal version.

In the future I would suggest that we increase the version number when we change the api, and write release notes so that users can better rely on a stable webmushra

[2017-03-08 13:00] #7 closed, assigned to faroit, mschoeffler

[2017-03-08 17:58] #4 closed, assigned to mschoeffler

[2017-03-23 12:14] faroit opened #10 "error handling"
It seems that errors are not thrown, even if `stopOnErrors` is set to `true`

@mschoeffler does this have to do with [these commented code](https://github.com/faroit/webMUSHRA/blob/master/startup.js#L61)? if this code is active the error handling does work as expected. This was commented by Marlene Rösch one year ago, so I would expect this was commented out by accident.

Can you please check this

[2017-03-24 06:26] #10 closed, assigned to mschoeffler

[2017-03-28 12:50] faroit opened #12 "Support safe playback of reference and stimuli of different length"
Currently when the reference and the stimuli have a different number of samples an error is thrown and if `stopOnErrors: true` is set, experiments will not be started.

If experiments are started nonetheless webMUSHRA behaves as followed:
* the size of the output buffer is determined by the length of the reference
* when the reference is __shorter__ than then a stimulus, the stimuli will be trimme

[2017-03-28 12:56] faroit opened #13 "Show version number in webMUSHRA"
to make it easier for users and experimenters and developers to see which version of webMUSHRA is used, it would help to have an info button in the user interface that shows the version of webMUSRA when clicked.

Implementation wise this could easily be done by parsing the package.json

`grunt.file.readJSON('package.json')`

[2017-03-29 08:38] faroit commented on #12
just looked a bit in the code, my guess would be that the problem is somewhere here:

https://github.com/audiolabs/webMUSHRA/blob/master/lib/webmushra/audio/MushraAudioControl.js#L277

what do you think?

[2017-03-29 21:26] mschoeffler commented on #12
Yes, in case the stimuli have different lengths, the code will crash here. As you wrote, an error is thrown, since this is the intended behavior -- at least for now.
In my opinion, the constructor of MushraAudioControl is a good place for adding the auto-trimming/padding. It has to be checked, whether the lengths are different. If a stimulus is different than the reference, we need to create a new

[2017-04-01 14:59] faroit commented on #12
uh okay I didn't know about this. Than it makes sense to copy the buffers around.

[2017-06-02 18:43] mschoeffler opened #17 "Add experimental support for pointing method with 2D- and 3D views."
Add support for pointing method that has been published in https://scholar.google.de/citations?view_op=view_citation&hl=de&user=7Pd9rlwAAAAJ&citation_for_view=7Pd9rlwAAAAJ:IjCSPb-OGe4C

[2017-06-07 21:19] faroit commented on #13
fixed in #16

[2017-06-07 21:19] #13 closed

[2017-06-09 09:00] faroit commented on #12
this is addressed by #14

[2017-06-09 09:02] faroit opened #19 "spatial pages are missing in Experimenters manual"
see https://github.com/audiolabs/webMUSHRA/blob/master/doc/experimenter.md

[2017-07-21 12:14] jundengdeng opened #20 "How to build a crowd-sourced listening test by webMUSHRA?"
First of all, thanks for releasing this cool tool for listening test.
webMUSHRA works so great locally and I believe it works for a crowd-sourced listening test.  But the current README doesn't explain it.  Can you please elaborate it? Thanks!

And there are more questions: where does it save the ratings from multiple users? How does it differ the ratings of different users? Using different csv fi

[2017-07-31 19:04] mschoeffler commented on #20
Hi Jun,
in order to use webMUSHRA for crowd-sourced listening tests, you have to deploy it on a webserver. Basically, the procedure is the same as running it locally, except that your webserver is accessible by a domain, static ip, etc. Please, let me know if you need more information here.
When you carry out a listening test, you can find all ratings in the "results" folder. The file structure is

[2017-08-08 09:04] #20 closed

[2017-11-30 03:47] npuichigo opened #22 "Error occurs when writing results to csv"
PHP Warning:  Invalid argument supplied for foreach() in webMUSHRA/service/write.php

[2017-11-30 04:07] npuichigo commented on #22
Undefined index: sessionJSON

[2017-12-01 06:03] npuichigo opened #23 "How to change from mono channel to multichannel ?"
It seems that all the wave played are mono, and my headset is ringing only to the left.

[2017-12-01 08:30] aladami commented on #23
Hi Yuchao,
if you are referencing to the example audio files, you are right. These are all mono.
For multichannel playback, simply use audio files with more than one channel.
In case you want to use mono, but played back on the left and right channel of your headset/speakers, you need to provide it in double mono, meaning you create a two-channel audio file with the same content in both channels.

[2017-12-03 17:51] #12 closed

[2017-12-03 19:32] #17 closed

[2017-12-03 19:33] faroit commented on #19
@mschoeffler can you add this now or shall we postpone this to 1.4.1?

[2017-12-07 11:28] npuichigo commented on #23
Thank you for your reply!

[2017-12-07 11:28] #23 closed

[2017-12-20 17:43] ronggong commented on #20
Thanks for the webMUSHRA!

I deployed webMUSHRA on an aws ec2 server. Php is also installed. here is the link:
http://ec2-13-250-5-77.ap-southeast-1.compute.amazonaws.com/webMUSHRA/webMUSHRA/?config=daxp_Qing_zao_qi_lai-Mai_shui-dxjky.yaml

The problem happens after I finished the test and clicked "send results". No error reported, however, I can't see any folder generated in my webMUSHRA folder o

[2017-12-20 17:45] ronggong opened #24 "Deploy webMUSHRA on aws EC2, php installed. No result created after clicking "send results" button."
Thanks for the webMUSHRA!

I deployed webMUSHRA on an aws ec2 server. Php is also installed.

The problem happens after I finished the test and clicked "send results". No error reported, however, I can't see any folder generated in my webMUSHRA folder on the EC2 server?

This has been tested locally, which successfully created the result folder.

[2017-12-20 18:39] faroit commented on #24
have you checked the php error logs (e.g. `/var/log/apache2/error.log` on debian) ?

[2017-12-20 18:40] faroit commented on #22
which config were you using? which php version?

[2017-12-21 04:24] ronggong commented on #24
Thanks for the fast reply!

apache2 folder doesn't exist in my /var/log path.

However, problem solved. I have installed the old version of LAMP on the ec2, now I switched to httpd 2.4 and php 5.6. It works!

[2017-12-26 13:01] ronggong commented on #24
update:

It still doesn't work. It worked 5 days ago after I updated the httpd and php, however, I just tried it again, it still can't transfer the results back to the folder...

I checked the error log and found these:

[Tue Dec 26 12:44:05.331260 2017] [:error] [pid 9904] [client 210.73.8.63:62082] PHP Warning:  fputcsv() expects parameter 1 to be resource, boolean given in /var/www/html/webMUSH

[2017-12-26 13:02] faroit commented on #24
@mschoeffler can you have a look?

[2017-12-26 14:37] ronggong commented on #24
thanks @faroit problem solved. the result folder didn't have the write permission for the users. I did sudo chmod 775 to the results folder.

[2018-02-01 16:44] #24 closed

[2018-02-14 16:40] faroit opened #26 "webMUSHRA doesn't work correctly on Chrome >= 70"
Lets have this in mind and check if we are affected:
https://bugs.chromium.org/p/chromium/issues/detail?id=807017

[2018-02-14 16:42] faroit opened #27 "Add support for audio worklets"
Finally, the audio worklets are close to get into stable browsers. Lets retire the script processor asap. Changing the code looks be rather simple...

https://developers.google.com/web/updates/2017/12/audio-worklet

[2018-03-01 11:27] faroit commented on #19
@mschoeffler any news?

[2018-03-01 11:31] faroit commented on #26
version 66 is now in the Dev channel. Can someone test it using chrome 66? @mschoeffler @aladami

[2018-04-20 12:36] faroit commented on #26
Chrome 66 was released and I just checked: webMUSHRA is affected by this change.
In clear text: __webMUSHRA does not work anymore with Chrome!__

@mschoeffler do you have time to fix it?
If not, I would propose to either put a warning in the readme or deprecate webMUSHRA entirely.

[2018-04-25 12:11] faroit commented on #26
@mschoeffler I've added a warning on the readme.md.

[2018-04-27 08:49] faroit commented on #26
ping @mschoeffler

[2018-04-29 16:30] faroit commented on #26
I don't know what exactly has changed in Chrome but it works fine now in 66.0.3359.139

[2018-05-14 16:40] faroit commented on #26
stopped working again in Chrome 66.0.3359.170...

@mschoeffler

[2018-08-10 08:43] faroit commented on #26
new autoplay policy will break webmushra again

[2018-08-13 12:26] bijulette commented on #22
Same issue on customized config. What do I need to check to solve the problem?

[2018-08-13 12:27] faroit commented on #22
hi,

check the javascript console in your browser to see if there are some error messages. Also try to check if your yaml contains some formatting errors by running it through a [linter](http://www.yamllint.com/)

[2018-08-13 14:16] bijulette commented on #22
Hi, thank you for your reply. It seems that there is no formatting error (check done through the linter), and this is what I get in the javascript console after completing the customized test:
![capture](https://user-images.githubusercontent.com/42345045/44036913-a5354176-9f1b-11e8-80f9-9575065941c6.PNG)

I actually also see these two warnings when running the same customized config but containing

[2018-08-13 15:05] faroit commented on #22
does the [default.yaml](https://github.com/audiolabs/webMUSHRA/blob/master/configs/default.yaml) run in your setup (including the csv writeout)?

[2018-08-13 15:05] faroit commented on #22
Also, if you can, post/link your config here, please

[2018-08-14 06:54] bijulette commented on #22
default.yaml config works (including the csv writeout). My customized config (with audio contents from webMUSHRA) is below (in .txt format)

[custom_config.txt](https://github.com/audiolabs/webMUSHRA/files/2285801/custom_config.txt)

[2018-08-14 06:57] faroit commented on #22
try removing the spaces from the `id` fields and add underscores, maybe

[2018-08-14 09:19] bijulette commented on #22
it didn't work, any other ideas?

[2018-08-14 10:03] faroit commented on #22
I've updated the yaml parse (see https://github.com/audiolabs/webMUSHRA/pull/29) and tested your config. it works for me and the csv writeout seems okay (see attached file).

Please test the PR branch and tell me in the discussion if this fixes your problem.
[paired_comparison.csv.txt](https://github.com/audiolabs/webMUSHRA/files/2286447/paired_comparison.csv.txt)

[2018-08-14 13:38] bijulette commented on #22
Unfortunately it didn't resolve the issue for me. Tried on browsers Chrome, Mozilla Firefox, and Internet Explorer. I am using Windows. Hereafter is what I see in cmd.exe when sending the results (using both PR branch suggested and master):
![capture](https://user-images.githubusercontent.com/42345045/44094993-572740e0-9fe0-11e8-91c2-7aa401dc3b40.PNG)

[2018-08-14 14:54] faroit commented on #22
@bijulette Looks like an php issue. I can't help with windows, sorry. I recommend to try out our docker containers or switch to an older/newer version of php. The docker containers use php 7.0 I am running 7.1 on OS X (worked). If you find a bug, please let us know.

[2018-08-16 08:54] bijulette commented on #22
Hi,
Changing for an older php version in Xampp fixed my problem (currently working php version: 7.0.31). Thank you for your help!

[2018-08-16 10:27] faroit commented on #22
okay, what version have you used before?

[2018-10-04 11:36] faroit commented on #26
we need to address this soon

[2019-05-10 02:29] lgestin commented on #26
Adding
[code]

in `startup.js` fixes the issue for me.

[2019-05-28 09:06] faroit commented on #26
@lgestin looks like a working workaround, thanks. Can you add a PR?

[2019-07-10 19:30] HusainKapadia opened #30 "How to make webMUSHRA publicly available?"
Currently when I run the command

` docker-compose -f docker-compose.yml up`

It launches webMUSHRA, however, this is locally hosted on my laptop and I cannot access the link from another computer. How do I make it publicly available? I tried techniques like port forwarding but it did not work for docker-compose. Can you please recommend a way to do this. Thank you.

[2019-11-07 15:48] speech-utcluj opened #31 "Reset the start time of the audio on play button"
Hi,

Is there a simple way to reset the starting time of each condition whenever the corresponding Play button is pressed? Meaning that I don't want the audio to resume from the last index of the previously played condition.

Thanks!

[2020-02-18 16:40] ChromaticIsobar commented on #31
I also am experiencing this problem

[2020-03-06 14:31] masterzdj opened #32 "How to make it support stereo wav file?"
I have to say this is a great project. Thanks for the developers.

One small question, this project seems not support play stereo wav file. How to make it happen? thanks.

[2020-03-06 14:49] faroit commented on #32
Webmushra supports up to 8 channels. Just make sure both reference and stimuli are in the same channel configuration

[2020-03-06 14:50] faroit commented on #30
Can this be closed?

[2020-03-06 15:02] masterzdj commented on #32
thanks for your quickly relpy, faroit.
i know the problem. when i start the test, i can see the waveform of the stereo file, but there is no sound when i press 'play' button. when i jump to the next test item groups, and jump back. the stereo file can be played correctly.

[2020-03-06 15:04] masterzdj commented on #32
another problem is that, for mono test items, i can only hear the sound from the left speaker, not both speakers.

[2020-03-06 19:52] faroit commented on #32
The mono behavior is known, indeed and is a browser issue as far as I remember. Please render your stimuli as stereo files.

[2020-03-11 14:43] HusainKapadia commented on #30
Yes, I solved it by hosting everything on an AWS EC2 instance which was then made available publicly.

[2020-03-11 14:43] #30 closed

[2020-03-18 17:35] krlln opened #33 "Change the algorithm used for "randomized experiments""
Hi,
The algorithm currently used for randomly ordering the experiment pages involves providing `function() { return 0.5 - Math.random(); }` to `array.sort`.
This method is biased: it is more probable for the first page in the YAML config file to be presented in the first pages. (see https://stackoverflow.com/a/18650169)
If possible, I'd recommend using the Fisher-Yates (aka Knuth) Shuffle as recom

[2020-03-18 17:37] faroit commented on #33
Thanka for spotting this. Would you be able to provide a PR?

[2020-03-18 17:38] faroit commented on #32
Can we close this?

[2020-03-18 17:44] krlln commented on #33
Yes I would. I'll write it tomorrow.

[2020-03-19 10:22] #22 closed

[2020-03-24 21:03] LordOfLuck opened #36 "How to use only several randomly selected pages?"
I need to evaluate 4 different speech synthesis systems.
I have 100 sentences and I have synthesized audio of each sentence from each TTS system.
The users should evaluate a sentence generated by all systems with mushra method, but I do not want a single user to have to go through 100 tests. Is it possible to randomly select eg. 10 pages that would be presented to the user?

[2020-03-25 14:28] Fredemus opened #37 "Disable normalization of audio?"
Hey, I want to run a MUSHRA test where the sound files can't be normalized. Is there a way to disable this?

[2020-03-25 15:13] faroit commented on #37
Hi @Fredemus. I am not aware of any normalization that is done in webMUSHRA. Can you be more specific about this issue?

[2020-03-25 15:19] faroit commented on #31
@speech-utcluj @ChromaticIsobar sorry for the slow response.

the play buttons in webMUSRHA are indeed have a "switching" instead of "start/stop" behavior. I am not sure if a different behavior would still validate with the ITU recommendation. Could you check that?

[2020-03-25 16:54] ChromaticIsobar commented on #31
The strongest requirement I can find in ITU BS.1534-3 is in section 5.3:

But at no point in the recommendation I found that, when switching, the playback system should continue from the same time-index, although I think that is the proper behaviour in the most common scenarios. But in some situations a start/stop behaviour could be better.

[2020-03-31 12:12] Fredemus commented on #37
Sorry, just tested it properly. No normalization is being done

[2020-03-31 12:12] #37 closed

[2020-03-31 13:30] #33 closed

[2020-05-20 09:45] BenjSta opened #39 "Scroll behavior"
When you click "Next", the page's scroll position stays the same. Participants might miss instructions.

[2020-05-20 16:39] DrWig commented on #32
no, don't close this.  There is a bug mentioned in this thread which is still an issue.  If you don't include a page without audio for page one, audio doesn't work.  This is true of the example configs currently.

[2020-05-20 16:45] faroit commented on #32
@masterzdj @DrWig please report the exact config file and the browser/OS so that I can test.
Again, webMUSHRA renders all input channels from the stimulus to the output device. If your input has only one channel, the output will also be rendered for for just one channel. If you have different channel configurations for different stimuli, the reference stimulus has higher priority.

We don't think

[2020-05-20 16:47] faroit commented on #32
@DrWig please open a new issue that is addressing the mono issue.

[2020-05-20 16:48] #39 closed

[2020-05-20 16:49] faroit commented on #27
shipping now https://hacks.mozilla.org/2020/05/high-performance-web-audio-with-audioworklet-in-firefox/

[2020-05-20 16:51] faroit commented on #31
@ChromaticIsobar @speech-utcluj alright, so it would make sense to implement an option that allows to switch the behaviour.

I do not have the capacity at the moment to implement such a feature myself. But feel free to open a PR

[2020-05-20 16:52] faroit commented on #19
pinging @mschoeffler

[2020-05-20 16:55] faroit commented on #36
@LordOfLuck I think the easiest way to implement this is to generate and serve the config files dynamically using e.g. python flask so that users will get a random experiment presented. Doing this externally also gives you more control over how to save the results (e.g. in a centralized db instead of plain files)

[2020-05-20 16:55] #36 closed

[2020-05-20 16:57] DrWig commented on #32
ah, ok....apologies.  Fast response, though!

[2020-05-20 16:58] DrWig opened #40 "Audio doesn't work on 1st page"
The 1st page of the test doesn't have working audio.  Adding a 'welcome' page, or navigating to another page and back again fixes it, though.

[2020-05-20 17:04] faroit commented on #40
Isn't this related to #26 ?

[2020-05-20 17:05] DrWig opened #41 "configs are not very forgiving of non LF returns"
not sure if this is an issue you can even fix, so close/ditch if that's the case, but the config files are very unforgiving of non LF line breaks.......it took me quite a while to troubleshoot a students config to figure this out (they edited in Windows Notepad).

Perhaps mention this in the docs (i.e. not to use notepad ;-) )

p.s. WebMushra is an awesome resource, thank you!

[2020-05-20 17:07] DrWig commented on #40
if so, an easy fix would be a mandatory welcome page!

[2020-05-20 17:08] faroit commented on #41
this is a general issue with YAML files. Its true that we should have maybe gone with json files instead (which would require a lot more brackets instead though).

One thing we might want to recommend in the docs is to verify the config files before trying them .e.g. by using a yaml validator: http://www.yamllint.com/

Feel free to open a PR to extened the docs or readme

[2020-05-20 17:09] faroit commented on #26
@lgestin in case this is still a recommended workaround, can you open a PR for this fix?

[2020-05-20 17:10] faroit commented on #40
just to double check, can you please report if you use chrome and if: does it work fine on firefox?

I think thats too much of a hack. We should just fix #26

[2020-05-20 17:10] DrWig commented on #40
yes, I use Chrome.  I don't have firefox installed

[2020-05-20 17:10] DrWig commented on #40
I'll give you a couple of test links in a mo

[2020-05-20 17:14] DrWig commented on #40
Apologies for the swearing in the audio....it's my students choice!

1 page not working in chrome:
https://brucewiggins.co.uk/testing/mush/?config=wigtest1pg.yaml

2 page which does work:
https://brucewiggins.co.uk/testing/mush/?config=wigtest2pg.yaml

[2020-05-20 17:16] faroit commented on #40
alright, I checked the examples: it works fine in firefox and I confirm that it doesn't work in chrome. As this is a duplicate of #26, i'm closing this

[2020-05-20 17:16] #40 closed

[2020-05-20 17:18] DrWig commented on #41
Thanks for the tip.  I'll look at a PR, too.

[2020-05-20 17:20] #41 closed

[2020-05-20 20:14] actlee opened #42 "Training phase and evaluation phase"
Hi, I am so grateful for this webMUSHRA.

I was wondering whether I can have a training phase and an evaluation phase by using a single YAML configuration.

Thanks!

[2020-05-20 20:19] faroit commented on #42
what do you mean by this exactly? You can have as many pages in one experiment as you like. See [this experiment for example](https://audiolabs.github.io/webMUSHRA/?config=complete.yaml).

[2020-05-20 20:39] actlee commented on #42
In Section 5.2 in the recommendation, it explains about the training phase. I was wondering how I can use webMUSHRA to have a training phase and an evaluation phase.

I was not sure I can make only a few pages out of all the pages random. For example, say, I made 10 pages, and the first 5 pages are for the training and the rest are for the evaluation. I expected the first 5 pages are randomized an

[2020-05-20 22:17] #42 closed

[2020-06-05 18:28] kanthasamyiit opened #43 "How to set a multiline content?"
Hello. I want to give a bulletted instruction set to the listeners in the first page. In the 'content :' key, I am able to add a single, long line. But, not able to break it into multiple lines. I tried the yaml clipping keys '>', '|', '>-'. They didn't work. '\n' also didn't work. Is there way to add a multiline instruction?
Thanks.

[2020-06-07 12:19] aladami commented on #43
Hi,
you can use an unsorted list to realize this, something like:
`content:  Please rate the following attributes<ul><li>Basic Audio Quality</li><li>Spatial Consistency</li><li>etc.</li></ul>`

[2020-06-07 18:34] kanthasamyiit commented on #43
Thank you so much for the quick and simple solution! It worked!

[2020-06-07 18:34] #43 closed

[2020-06-10 09:08] aurianworld opened #44 "How to set up a questionnaire between two mushra pages ?"
I'm trying to have a little questionnaire after each page of mushra test, but it seems that it can be done only for the end page. Is there a way to do that ?

[2020-06-10 09:17] faroit commented on #44
can you post your config?

[2020-06-10 09:18] faroit commented on #32
@DrWig can this be closed?

[2020-06-10 09:55] aurianworld commented on #44
Yes here it is :
[default.zip](https://github.com/audiolabs/webMUSHRA/files/4757651/default.zip)

[2020-06-12 06:58] aurianworld opened #46 "Add a logo at the bottom of each page"
How can I add a logo at the bottom of each page ? Or at least of the first page of the test ?
Thanks you

[2020-06-12 07:17] faroit commented on #46
The easiest way would probably to modify these parts of `index.html`:

https://github.com/audiolabs/webMUSHRA/blob/a815c79d6b9447c641b906a0c5fe099a4bb80cf9/index.html#L154-L156

A nicer way would be to add a custom logo path to the config files and parse this path here. We'd welcome a PR for this

[2020-06-14 10:50] aurianworld commented on #46
Thanks you it worked well. Here is the index.html now
[index.zip](https://github.com/audiolabs/webMUSHRA/files/4776272/index.zip)

[2020-06-14 11:11] faroit commented on #46
Great that it works for you. If you can provide a generic solution with parsing the config file, feel free to provide a PR. Otherwise please ckodz

[2020-06-14 12:43] aurianworld commented on #46
I'm new to github and I don't know what is a Pull request, then I prefer to close.
Thanks for your help.

[2020-06-14 12:43] #46 closed

[2020-06-14 12:48] #26 closed

[2020-06-14 13:07] #32 closed

[2020-08-10 07:52] evelyndjwilliams opened #49 "How to force rating before continuing?"
Is there any setting to ensure participants rate all the audio samples before continuing to the next page?

[2020-10-09 04:17] lowcut80 opened #51 "No results are saved"

[2020-10-09 04:57] #51 closed

[2020-10-20 10:43] faroit commented on #49
I think this will be covered by #50 @jpauwels

[2020-10-21 14:57] evelyndjwilliams commented on #49
Thanks!

[2020-10-21 14:57] #49 closed

[2020-10-21 18:32] lowcut80 opened #52 "Customizing language"
Hello,

If you want to customize some words in the interface (for example, in BS. 1116, changing the describing word "annoying" to "different"), where can I do it?

Thanks for your help in advance!

[2020-10-21 20:13] faroit commented on #52
@lowcut80 Hi,

we have a language file that you can edit:

https://github.com/audiolabs/webMUSHRA/blob/ea47252dc5d09c7ef58c3f7c57ba8a762325278f/lib/webmushra/nls/nls.js#L61-L77

[2020-10-21 21:02] lowcut80 commented on #52
Thank you. I was using the normal version so just got the Dev version and edited the words like below, but it still doesn't work.
Is there anything else I have to change? I tried one of the configs examples included.

// captions BS1116

nls['en']['imperceptible'] = "Imperceptible";
nls['en']['very similar'] = "Perceptible, but very similar";
nls['en']['similar'] = "Similar";
nls['en']['different'

[2020-10-21 21:25] lowcut80 opened #53 "Mono audio file play through left channel only"
Hi again! (sorry for many questions....)
My mono sound files only plays back through left channel.
Is there any way to play through both channels?

[2020-10-22 08:19] faroit commented on #53
@lowcut80 yes, this is expected behavior. you have upmix your files yourself before (duplicating channels).

[2020-10-22 08:19] #53 closed

[2020-10-23 22:20] lowcut80 commented on #52
Just to test, I even remove the "nls.js" file, but webMUSHRA still showed everything as it was. That means "nls.js" doesn't do anything for webMUSHRA? Any help would be greatly appreciated!

[2020-10-24 07:15] faroit opened #54 "Add node/express backend"
This would allow to host the site easily on services such as glitch.com or zeit.now

[2020-10-24 07:34] faroit commented on #52
I just tried with `bs1116_nowav.yaml`. It works fine. Check your browser language settings, maybe its not set to `en`? Also make sure you delete browser cache and really use the dev version (or rebuild with node)

<img width="498" alt="image" src="https://user-images.githubusercontent.com/72940/97070869-fe18ee80-15db-11eb-8804-5f5d3fa31077.png">

[2020-10-24 07:36] faroit commented on #54
@jpauwels since you are an active user, are you interested in helping out? I have the feeling php gets even more dated and users struggle with using it.

[2020-10-24 16:56] lowcut80 commented on #52
AH, it worked after deleting cache. Thank you so much!

[2020-10-24 17:45] #52 closed

[2020-10-24 22:31] jpauwels commented on #49
It's actually already possible in the current version (at least for Likert single or multiple stimulus pages) by adding `mustRate: true` to the config file, check the example in [training.yaml](https://github.com/audiolabs/webMUSHRA/blob/master/configs/training.yaml) and [manual](https://github.com/audiolabs/webMUSHRA/blob/master/doc/experimenter.md).

[2020-12-03 14:30] iver56 opened #55 "[bug] Audio plays only in left speaker"
When I visit https://audiolabs.github.io/webMUSHRA/ and play the reference audio, I can only hear the audio in the left speaker. I find this behavior in both Chrome and Firefox. I want to have the audio in both speakers.

[2020-12-03 14:31] ingunnam opened #56 "Mono files played in one ear only"
Both for the default project and when entering my own audio files, they are only played in the left ear when using webMUSHRA. Is this a bug or is it something I missed in the configuration?

[2020-12-03 14:32] #56 closed

[2020-12-03 14:32] ingunnam commented on #56
Close this as it is the same as https://github.com/audiolabs/webMUSHRA/issues/55

[2020-12-03 14:35] iver56 commented on #55
Closing as duplicate of https://github.com/audiolabs/webMUSHRA/issues/53

Why is this the expected behavior though? It feels like a bug more than an intended feature.

[2020-12-03 14:35] #55 closed

[2020-12-03 15:52] faroit commented on #55
because any kind of up- or downmixing (especially when using a non-standard channel mapping) can have a severe impact on the perceptual quality. Imagine the reference is mono but one of the signals under test is stereo: we can't assume that the experimental design was designed so that the increased loudness of the upmixed mono signal was really taken into account.  Thats why we think the only solu

[2020-12-04 15:40] iver56 commented on #55
Thanks for the response! Automatically playing mono as stereo (by duplicating the channels) does indeed seem like a safe (and common-sense) default, as that's how most audio players work, and it's how most people listen to audio.

If it was up to me, I would rather change the default for mono files than document the way mono audio is currently played back in the web app. Users that require special

[2020-12-04 18:48] faroit commented on #55
when we developed webmushra we carried out a lot of loudspeaker listening experiments involving specific speaker setups. Among them was also just a single loudspeaker, so its not that uncommon. ;-)

I would be okay to change the default for mono values __if both, the reference and all stimulus__ are mono. If there is any constellation of heterogeneous stimulus, it would be safer to throw an except

[2021-01-23 22:20] nullpunktTUD opened #59 "AttributeError running docker-compose due to removed function"
Trying to run ``docker-compose -f docker-compose.yml build`` I am getting the following error:

``AttributeError: module 'platform' has no attribute 'linux_distribution'``

According to some googling, this is because the function linux_distribution() was removed in Python 3.8.

Are you aware of this and/or are there any plans to support 3.8 anytime soon?

[2021-01-24 10:57] faroit commented on #59
note, sure if this is related to our dockerfile since we don't even use python. Also I was able to build the container with newest version of docker on macOS.

If its related to the php image on linux, you might want to try `7.4-apache` instead of `7.0`...

[2021-01-24 10:58] faroit commented on #59
@nullpunktTUD also if you are looking for a python backend: you might want to try https://github.com/nils-werner/pymushra

[2021-01-24 11:08] nullpunktTUD commented on #59
Thanks for the quick response, but it's not about the backend. It's that
the ``docker-compose`` command from your readme failed on a brand new
Ubuntu 20.04, which ships with Python 3.8.

I tried it on Ubuntu 16.04 (using Python 3.6) and it worked fine.

After some more googling, I realize that it appears to be a docker issue.
Since I found a workaround for me, I'm not going to chase it down, thoug

[2021-01-24 13:22] faroit commented on #59
@nullpunktTUD great. If you feel we should add something to the readme, let us know (or reopen) :+1:

[2021-01-24 13:22] #59 closed

[2021-01-27 22:48] nullpunktTUD opened #60 "Use of removed function get_magic_quotes()"
The script service/write.php uses a function called ``get_magic_quotes()`` that has been removed in PHP 8: https://www.php.net/manual/en/function.get-magic-quotes-gpc.php

Using a fresh XAMPP install (which ships with PHP 8), the results were not written because of that.

Since magic quotes are also not supported in PHP 8, I removed the conditional sanitizing and now everything seems to work fine.

[2021-01-28 11:07] faroit commented on #60
@nullpunktTUD thats great. can you provide a PR?

[2021-01-28 23:09] nullpunktTUD commented on #60
Yes, I can. First time providing a PR, hope everything's correct.

[2021-03-24 15:52] YorgosMoiragias opened #62 "Multichannel Audio Reproduction"
Hi to everyone,
I am trying to play an audio file of 6 channels (5.1) (96000 KHz, 24 bit) on a MUSHRA page via MOTU 828x. Although all of the 6 speakers reproduce the signal, it is highly distorted. However, when I use 16 bits per sample the audio reproduction is fine. The sound card supports both 16 and 24 bits per sample at 96000 kHz.
Is this a problem of the webMUSHRA code and is there any idea

[2021-03-24 16:14] faroit commented on #62
@YorgosMoiragias this might be browser dependent. Did you try on google chrome as well as firefox or safari?

[2021-03-24 16:15] faroit commented on #62
also have you checked the javascript console for errors?

We do check for sample rate missmatches: https://github.com/audiolabs/webMUSHRA/blob/94415c13f50d049bbc7601fb39a856ddfd282d3b/lib/webmushra/misc/MushraValidator.js#L15-L21

[2021-03-24 18:23] YorgosMoiragias commented on #62
Thanks for your response.
 I have tried to load my config in all the available browsers and its only Firefox that is able to load it.
No such error ("Sample rate of device and stimulus") is appeared through loading and I believe that it is not a sample rate issue ( I have tried multiple sample rates, as far as my sound card can reproduce).

[2021-03-25 13:24] adrydez opened #63 "Random but limited pages"
It would be great to have the chance to create for instance 100 pages (mushra type) but limit the test randomly to only 10 pages for each user

[2021-03-25 13:30] faroit commented on #63
This would require significant changes since we don't have any user session logic here.

I think this can be easily archived using a backend that dynamically creates the yaml files. Eg. have a look at [pyMUSHRA](https://github.com/nils-werner/pymushra)

[2021-03-25 13:30] #63 closed

[2021-03-25 13:32] faroit commented on #62
I don't think we've ever tested 24bit files and i'm actually not sure about the browser status.

@YorgosMoiragias can you test your files with the native html5 audio tag?

[2021-03-25 15:14] faroit commented on #60
closed by #61

[2021-03-25 15:14] #60 closed

[2021-03-25 15:15] #54 closed

[2021-03-25 15:15] #27 closed

[2021-03-29 14:30] YorgosMoiragias commented on #62
I wrote a html script like this:
<audio src="resources/audio/mono_c2_5ch.wav" controls autoplay></audio>

The same problem is appearing. This kind of clipping when multichannel audio with 24 bits per sample is reproduced.
An interesting observation is that when the audio has only 2 channels the reproduction is just fine ! Adding more channels (even if they are zero !! ) distorts the audio .

[2021-03-30 15:18] YorgosMoiragias commented on #62
New information

The audio is reproduced fine, if I use flac codec at 24  bit depth.
Maybe firefox does not support wav multichannel files at 24 bit (a network-bandwidth issue? )
Another interesting observation , that maybe give an intuition into the problem, is that using a lower sampling rate (e.g. 44100 Hz) alters the distortion of the reproduced multichannel audio .

[2021-03-31 08:30] YorgosMoiragias commented on #62
It's getting more interesting , because the 32bit float files are reproduced fine.

[2021-03-31 09:26] faroit commented on #62
okay, then i think we can close this and add warning in the readme. converting 24bit int to 32bit float is lossless and a good workaround, you agree?

[2021-03-31 12:18] YorgosMoiragias commented on #62
Yes indeed. Another workaround is to convert the wav files to flac, again a lossless process.
Thanks for your assistance !!

[2021-04-08 12:40] #62 closed

[2021-05-31 14:49] tjueterb opened #66 "Duplicated stimuli on certain browsers"
Hey guys,

I'm setting up webMUSHRA on a https server and ran into the following problem:

On most browsers (Firefox, Chrome, Brave, Edge) the sound stimuli get duplicated, triggering the MUSHRA validator if the duplicated stimuli exceed 12s. On Safari on mac everything works fine.

When running the same setup on my local machine (On MacOS with `php -S localhost:8000`) it works as intended on all

[2021-05-31 15:44] faroit commented on #66
Hi @tjueterb

did you change the files or are these the same as in the test folder?

[2021-06-01 09:25] tjueterb commented on #66
Hey @faroit

i changed lines 29-33 and 39-44 in the file lib/webmushra/nls/nls.js (labels of the MUSHRA rating scale)
and in line 295 in the file lib/webmushra/pages/MushraPage.js i set the initial value of the sliders from 100 to 0.

When comparing my folder with the current repo i realized that
- I deleted the dockerfile
- I'm not using the most recent version of webMUSHRA (the version I'm using

[2021-06-01 12:38] tjueterb commented on #66
Updating webMUSHRA to the current version solved the problem.

[2021-06-01 12:38] #66 closed

[2021-06-01 12:42] tjueterb opened #67 "Spacebar Play/Pause doesn't work correctly on Firefox 88.0.1"
Hey guys,

play/pause gets triggered when pressing and when releasing the spacebar on Firefox 88.0.1

I didn't notice the issue on other browsers.

[2021-06-01 13:58] faroit commented on #67
probably some issue with the keyboard shortcut lib we are using. the version inside webMUSHRA seems horribly outdated: https://github.com/ccampbell/mousetrap

I don't have the bandwidth to change this right now, but feel free to open a PR, replacing https://github.com/audiolabs/webMUSHRA/tree/master/lib/external/mousetrap with the newest version and test if this solves it...

[2021-06-01 14:53] tjueterb commented on #67
I replaced both files with the updated versions but it did not solve the issue for me, do you still want me to open a PR?

[2021-06-03 10:02] faroit commented on #67
@tjueterb Lets maybe wait until the issue is fixed. Can you raise an issue at mousetrap or try to reproduce it in a demo site?

[2021-06-10 11:50] ashish10alex commented on #44
Any follow up on this ? I was in the need for to add something similar .

[2021-06-10 12:20] faroit commented on #44
@ashish10alex @aurianworld the questionnaire is [part of the FinishPage](https://github.com/audiolabs/webMUSHRA/blob/master/lib/webmushra/pages/FinishPage.js) so currently, this is not possible. Therefore you would have to create your own custom page which includes only a questionnaire.

As a workaround, I would suggest creating the config dynamically using https://github.com/nils-werner/pymushra

[2021-06-10 12:20] #44 closed

[2021-07-07 13:02] m6121 opened #68 "Ready-to-use Docker Image"
Hi,

thanks a lot for this awesome tool and the provision of a docker specification. To further ease use of the tool, would it be possible to use Github-CI for building the docker image and pushing the image at e.g. Docker Hub? This would very much increase usability as only the `docker-compose.yml` needs to be configured and the image would simply be downloaded.

Many thanks in advance.
Max

[2021-07-07 16:04] faroit commented on #68
@m6121 sure, thats a great idea. I can host the image under my name space. Can you check if the docker-compose is up-to-date and runs fine?

[2021-07-08 06:56] m6121 commented on #68
Hi @faroit,

thanks for the fast response. This sounds great.
Yes, the latest [docker-compose](https://github.com/audiolabs/webMUSHRA/blob/bcf9c10e4d3493d0bf8f2ed6d8c8c5d7e5f15278/docker-compose.yml) is working fine. Maybe some comments could be added to explain the configuration a little, e.g.

[code]

[2021-07-20 13:13] simonwindtner opened #69 "Labels of Mushra Scala"
Hello,

i have a (simply) question.
Is it possible to change the mushra scale labels (excellent - good - fair - poor - bad) ?

thanks in advance!
best regards
simon

[2021-07-20 14:17] faroit commented on #69
@simonwindtner sure, just change the test strings... its available for multiple languages...

https://github.com/audiolabs/webMUSHRA/blob/99bcf206564949bcce74d9795ab36ef32e1b99cd/lib/webmushra/nls/nls.js

[2021-07-20 14:17] #69 closed

[2021-07-30 09:43] stackmeer opened #70 "Feedback for each test condition"
Is it possible to have a feedback box for each test condition so that the participants can explain and justify their grading for each signal. I set up a '_finish_' page after each '_mushra_' page in the .yaml file to try and get feedback that way but the listening test terminates as soon as the participant hits '_Send Results_' after writing their comments. As far as I am aware, there is no obviou

[2021-08-17 21:25] Ownezx opened #72 "Clickable logos during experimenting."
I was testing the use of webmushra today for an experiment of mine and I accidentally clicked on one of the logos at the bottom of the screen losing my progress and interrupting my experiment.

Those logos definitely should not be clickable as it might lead to the loss of data and time.

Ideally, I'd rather see the logos at the beginning and the end in a bigger format as I believe that having the

[2021-08-18 04:17] faroit commented on #72
I agree. Please provide a PR if possible

[2021-08-18 22:14] Ownezx commented on #72
For now I have brute forced my way out of the issue by commenting out the specific lines in index.html. But I haven't made it so that those logos still apear at the begining and the end.

I can probably make a quick PR with the logos unclickable, as you probably want to keep the logos on there somewhere.

[2022-02-10 16:36] jyn282 opened #74 "Results were not saved in 'results' folder after "send result" button"
Hi, thank you for this amazing repository. :)

I've set up webMUSHRA using Docker as written in README.md.
After that, I tried complete.yaml.
The test worked well, but when I pressed the "send result" button on the last page, an error occurred as follows.

"An error occured while sending your data to the server! Please contact the. experimenter."

Also, there was no new folder in the results folde

[2022-02-10 21:08] faroit commented on #74
@jyn282 did you mount `results ` and `configs` when launching the docker container?

[2022-02-13 08:53] jyn282 commented on #74
yes, I think so, I didn't change docker-compose.yml nor DockerFile.
That means ```results``` and ```configs``` folers were mounted to
```/var/www/html/results ``` and ```/var/www/html/config ```  ,  is that right?
I made two folders in the above paths and also checked file authority.

[2022-02-13 14:23] faroit commented on #74
@jyn282 please show your docker command here

[2022-02-13 18:15] jyn282 commented on #74
Thank you for the quick replay.

I tried as follows.

Dockerfile
[code]

docker-compose.yml
[code]

Then, I build and run docker container as follows.
[code]
[code]

I could change YAML file in ```configs``` folder on the fly but couldn't get result csv files.

[2022-02-14 13:07] YorgosMoiragias opened #76 "Dynamic Annotations"
Is there a known way to use webMUSHRA, so as to take dynamic annotations by the users (for example assessing quality each  half a second for an audio track)?
Or maybye if you could provide me a starting point for me to alter the provided code?

Thanks in advace

[2022-02-14 14:04] faroit commented on #76
i guess this could be implemented here but the framework is rather old so this might be challenging. There are other frameworks that can do temporal annotations right out of the box... maybe you have a look at:

- https://github.com/midas-research/audino
- https://github.com/abarbu/audio-annotation
-

[2022-02-14 15:16] YorgosMoiragias commented on #76
Thank you very much!

[2022-02-14 15:16] #76 closed

[2022-03-04 14:52] faroit commented on #74
@jyn282 sorry for the slow reply. Have you been able to address the issue?

[2022-03-27 22:38] anusfoil opened #78 "Stimuli Length"
Hi, thanks for the awesome tool! I am doing some listening experiment that uses audio stimuli of ~30s length, and received error "Duration of stimulus (reference) must not exceed 12s." when running. Is there any way to increase the limit?

[2022-03-28 07:24] faroit commented on #78
yes, you can set `strict` to False in the mushra page config: https://github.com/audiolabs/webMUSHRA/blob/99bcf206564949bcce74d9795ab36ef32e1b99cd/doc/experimenter.md#mushra-page

this will bypass the Duration check done here: https://github.com/audiolabs/webMUSHRA/blob/a064099969e9003c0ff051d60613b05298874a29/lib/webmushra/misc/MushraValidator.js#L46-L55

[2022-03-28 07:24] #78 closed

[2022-04-05 19:25] anusfoil opened #79 "Questionnaire results not submitted"
Hi, I noticed there is a questionnaire field in the `finish` page of `complete.yaml`, which allows collecting some information like age from the participants. However, I don't think these information was submitted to the backend as they don't show up in the results csv, and there are no documentation of the questionnaires.

[2022-04-06 12:25] anusfoil commented on #79
solved

[2022-04-06 12:25] #79 closed

[2022-04-20 13:03] neerajww opened #80 "Is there a way to avoid looping of audio in mushra (type)?"
Hey,
I will like to play the audio only once when the "Play button" is pressed. Currently, in type mushra, it continues to play the audio in a loop. Is there a way to stop continuous loop playback? I will appreciate the help.

[2022-04-20 13:10] faroit commented on #80
I guess you have disable looping in the code

https://github.com/audiolabs/webMUSHRA/blob/99bcf206564949bcce74d9795ab36ef32e1b99cd/lib/webmushra/audio/MushraAudioControl.js#L26

we don't have a config for this. Feel free to add a PR to add this

[2022-04-20 13:30] neerajww commented on #80
Thank you very much! This worked.

[2022-04-20 13:37] #80 closed

[2022-04-20 16:34] Nosh118 opened #81 "Continually loads, both in the online demo and on a self-hosted local php server"
webMushra stays continually stuck on this screen, with PHP showing no issues
![image](https://user-images.githubusercontent.com/67752804/164279316-a16f492e-1ae1-4240-b184-62475fa2427f.png)

[2022-04-20 17:23] faroit commented on #81
can you check the browser js console for errors?

[2022-04-20 17:29] Nosh118 commented on #81
This shows up:

Uncaught TypeError: Cannot read properties of undefined (reading 'length')
    at MushraAudioControl.convolve (webMUSHRA.js:2:13070)
    at MushraAudioControl.createLowerAnchor35 (webMUSHRA.js:2:3001)
    at new MushraAudioControl (webMUSHRA.js:1:1315)
    at MushraPage.init (webMUSHRA.js:4:8969)
    at PageManager.start (webMUSHRA.js:2:22994)
    at callbackFilesLoaded (startup.mi

[2022-04-20 17:30] faroit commented on #81
probably a yaml error, did you modify any config?

[2022-04-20 17:32] Nosh118 commented on #81
Haven’t touched anything, this is just running the release for the first time stock

[2022-04-20 18:11] #19 closed

[2022-04-21 12:09] neerajww opened #83 "Is there a way to customize the numeric range for the displayed input ratings?"
Hey,

I am trying to use the "type mushra" page for audio perception. Though not a common practice, I wish my slider range to go from -90 to +90 instead of the current 0 to 100, and the same to reflect in the numeric input field box. Can someone help me find the code segment to help do this. I will appreciate the help.

[2022-04-21 12:14] faroit commented on #83
the sliders are here:

https://github.com/audiolabs/webMUSHRA/blob/99bcf206564949bcce74d9795ab36ef32e1b99cd/lib/webmushra/pages/MushraPage.js#L295

the slider labels are here:

https://github.com/audiolabs/webMUSHRA/blob/99bcf206564949bcce74d9795ab36ef32e1b99cd/lib/webmushra/pages/MushraPage.js#L423-L437

[2022-04-21 12:14] #83 closed

[2022-04-21 12:19] neerajww commented on #83
Thank you @faroit !

[2022-04-21 12:46] neerajww commented on #80
There is an issue I am facing after doing this. After end of the audio in a condition, the button stays as "Pause". I will like it to go back to "Play" (that is, after the audio has ended). I will appreciate any help for pointers to the code segment for doing this.

[2022-04-21 13:27] neerajww commented on #80
Hey @faroit , just a gentle notification in case you have pointers for the above issue.

[2022-04-22 06:32] jyn282 commented on #74
@faroit,   I pushed this job for a while and recently get back to this work.
To begin with the conclusion, I solved this problem.  It turns out a permission problem. The host user doesn't have write permission (only read) so it couldn't send the result CSV files.
Here's the website that I referred to.

https://ntsim.uk/posts/file-permissisions-when-developing-with-docker

Thanks for your help! :)

[2022-05-04 13:41] neerajww opened #85 "Can the MUSHRA scales be made horizontal instead of vertical?"
Hey,

I will like to make a horizontal orientation for the sliders in the MUSHRA test. I need this so as to have more resolution in the slider ratings as most monitors are landscape-style.
Seems this can a bit of work to tweak the code. Is this already an option in the current code? I will appreciate any inputs.

Best regards,
Neeraj

[2022-05-09 10:52] Nosh118 commented on #81
Any idea @faroit?

[2022-05-10 20:34] w4iei commented on #74
Great thread here. I hit the sample problem when creating a docker container and cloning this repository.
The root-cause of the problem came from cloning the repository as root, which doesn't allow docker/apache write access. The permissions from the host running the docker container are shared into the docker container. Fixing permissions solves this problem.

`drwxr-xr-x 2 root root   4096 May 1

[2022-05-13 21:28] faroit commented on #81
What php version do you use?

[2022-05-19 08:55] nullpunktTUD opened #88 "Paired comparison without a reference"
As suggested in PR #47, the paired comparison page currently does not support A/B testing without a reference (just asking for the user preference).

PR #47 seemed like a reasonable solution, why was it not merged? Is there any other way to achieve the desired outcome?

[2022-05-23 21:41] Nosh118 commented on #81
Sorted it out by using another machine! All working now except I'm getting this error when trying to submit the results:
`POST /service/write.php - Uncaught Error: Call to undefined function get_magic_quotes_gpc() in \webMUSHRA-1.4.3\service\write.php:21
Stack trace:
#0 {main}
  thrown in \webMUSHRA-1.4.3\service\write.php on line 21`
@faroit - thanks in advance

[2022-05-23 22:06] Nosh118 commented on #81
Solved the issue, I had to downgrade to PHP version 7.4.0 as get_magic_quotes_gpc() was deprecated and removed >8.0. Now works perfectly.

[2022-05-23 22:06] #81 closed

[2022-05-28 15:37] gniadoo opened #90 "How to modify config files to change experiment type from MUSHRA (ITU-R BS.1534) to AB (ITU-R BS.1116)?"
Hello!
Like I said in the title, I want to use webMUSHRA with AB (ITU-R BS.1116) methodology, but I can't find where I need to change config files to make that.

[2022-05-28 16:47] faroit commented on #90
Just have a look at the config folder: https://github.com/audiolabs/webMUSHRA/blob/master/configs/AB_noloop.yaml

[2022-05-28 16:47] #90 closed

[2022-05-28 16:49] faroit commented on #85
@neerajww Is there a reason why the sliders are oriented vertical given by the ITU? If yes i would suggest to stick this recommendation.

In any case, I would not be able to provide an implementation, so please feel free to provide a PR

[2022-06-09 12:44] w4iei opened #92 "Possible playback issues with slow hardware?"
I performed an informal MUSHRA test using webMUSHRA with 19 friends/family. 2-3 participants reported hearing incredibly bad audio (cracks, pops, etc) when listening to the reference. Furthermore, others rated one of my references very poor. Most users have so issues, but it does raise some questions about the compatibility across devices. Any ideas?
Unfortunately, I don't have much more informati

[2022-06-09 18:36] faroit commented on #92
@w4iei I think this is still true on mobile browsers, yes.

Not much I can do about. I would suggest stating to users that they have to use chrome or Firefox.

[2022-06-09 18:37] #92 closed

[2022-06-10 10:25] w4iei commented on #92
Ok. Noted.

[2022-06-21 11:53] w4iei opened #94 "Documentation request: set default config"
How can I specify the YAML file that is used for the default config (without the ?config= argument). This should be added to the documentation.

Thanks

[2022-06-21 11:57] w4iei commented on #94
default.yaml is the magic ticket

[2022-06-21 11:57] #94 closed

[2022-07-05 17:31] faroit opened #96 "create webMUSHRA team organization"
webmushra is not maintained anymore by any member of the @audiolabs.

However, there were and still are useful contributions from the community (e.g. see [here](https://github.com/audiolabs/webMUSHRA/pulls?q=is%3Apr+is%3Aclosed)) to improve the software. These PRs are coming almost entirely from outside @audiolabs and I would therefore suggest to create a separate @webMUSHRA organization and move

[2022-07-06 13:30] meinardmueller commented on #96
I do not have a strong opinion here and would agree with both suggestions. I would prefer a solution as simple as possible, so that the software can be maintained by the community.

[2022-07-11 05:47] josharmenta commented on #96
I would love to help however I can. My startup is using this tool for some research, but I haven't had the bandwidth to add any big changes yet.

[2022-08-10 11:08] a7brusco opened #97 "MushraAudioControl.convolve() don't handle 96kHz samplerate"
I was testing webmushra which works well with my configuration (I use [pymushra ](https://github.com/nils-werner/pymushra) to serve the website).
A colleague tested it and had some trouble getting the index page (with the default configuration).
After debugging, we discovered that his Audio Context was running at 96 kHz sample rate (mine was 48 kHz).
The error that crashes the website occurs when

[2022-08-10 11:39] faroit commented on #97
Uh. I didn't know that browser do support >48khz these days.

Not sure how to solve this. Any ideas yourself?

[2022-08-10 11:48] a7brusco commented on #97
I'm not very good with all the web stuff.
I've been practicing a bit with the WebAudio API (just enough to debug this problem).

I noticed that the `convolve` method of MushraAudioControl could not work because it does not get the `_coefficient` parameter.

Maybe adding the low-pass coefficients for 96kHz in the `createLowerAnchor35` and `createLowerAnchor70` method is enough to solve the problem.

[2022-08-26 12:57] w4iei opened #98 "Option to edit MUSHRA scale from 0-100 to 0-n"
I wish to change the scale from 0-100 to 0-6 when judging multiple versions of the same audio task. 0-100 introduces a false sense of granularity that doesn't always generalize clearly across participants.

[2022-08-26 13:37] faroit commented on #98
Have a look at this issue https://github.com/audiolabs/webMUSHRA/issues/69

[2022-08-26 15:14] w4iei commented on #98
Thanks Fabian-Robert. This is helpful but only half of the solution. I would like a radio button style slider.

[2022-08-26 21:17] faroit commented on #98
I guess you can also change the slider step values to achieve the same.

In any case this wouldn't be a "mushra compatible" UI so it would
Be better to keep this in a private fork.

[2022-08-26 21:17] #98 closed

[2022-08-27 00:35] josharmenta opened #99 "Alternate Remote Service"
For regulatory reasons I need to push the test data into a CTMS rather than use the local CSV files. We're using this in the context of a clinical trial.

I assume for that to happen I need to write a separate remote service which calls the CTMS endpoint and transmits the data to the CTMS ingestion engine?

Thanks in advance for the help! :-)

[2022-08-27 09:53] faroit commented on #99
I think you can use https://github.com/nils-werner/pymushra for that

[2022-08-27 09:53] #99 closed

[2022-08-31 10:25] w4iei opened #100 "consent page type produces Type not specified error."
Running the sample ?config=consent.yaml

It seems that changing the type: from generic to consent creates this error.

[2022-08-31 17:35] faroit commented on #100
@Linths might this be related to your changes?

[2022-09-05 11:34] w4iei opened #101 "Nice to have: AudioFileLoader performance improvement"
When loading a 100mb configuration, the main javascript thread of loading in the audio files takes a considerable amount of time (~15s) to load on safari/chrome, in comparison to 2s of network requests.
<img width="1444" alt="image" src="https://user-images.githubusercontent.com/3508820/188439442-a3a38c31-7efe-49f6-863a-3575e13b596f.png">

[2022-09-05 18:12] faroit commented on #101
@w4iei Are you generating the lower anchors by webmushra? If yes, try to disable that and recheck performance.

The anchors are filters processed in js and might be slow for large files.

[2022-09-05 18:36] w4iei commented on #101
@faroit Thank you. This is definitely the cause of the performance issue. I will preprocess the anchors and serve them. Thank you!

[2022-09-05 18:36] #101 closed

[2022-09-22 07:20] heaton2016 opened #102 "Can the page width change according to mobile screen size?"
Hi, I'm trying to run the localization test on a mobile phone, but the response widget wouldn't display as expected. As the picture shows, is there any suggestion? Thanks a lot!
![image](https://user-images.githubusercontent.com/21967373/191682759-56d2a3b5-9b73-4089-87cb-82566c4e2cf6.png)

[2022-10-07 12:01] DrWig opened #103 "PhP 8 compatible?"
When switching my server to PhP 8, webmushra is no longer able to write the results to the file.  Switching back to PhP 7.x and everything works fine.  It doesn't actually flag an error to the user, but there is a 500 error if looked at in Chrome's developer tools

Is there known compatibility issues with webmushra and PhP 8?

[2022-10-07 12:34] faroit commented on #103
yes, its not compatible with php 8 afaik. Also, I highly recommend https://github.com/nils-werner/pymushra/ as an alternative backend

[2022-10-07 12:34] #103 closed

[2022-11-23 10:17] nico-franco-gomez opened #105 "Results are not saved when using the download package version"
Hi, first of all, thank you for this great code. It's been really easy to set up and carry out experiments and it has helped me a lot during my developing stages of audio-related algorithms!

To the issue: I downloaded the version contained [here](https://github.com/audiolabs/webMUSHRA/releases/latest) (not the dev one but the experimenter's one). I carried out experiments without trouble but the

[2022-11-23 13:58] faroit commented on #105
Good spot. I can try to fix that at some point

[2022-11-29 18:55] HaHeho opened #106 "Missing "zero" input with mouse input"
I just participated in a study setup with webMUSHRA (great tool BTW!!) and noticed an inconvenience. But I assume it could be fixed rather easily.

I noticed that I regularly failed to set a slider to zero when flicking it down and intending to set it to the lowest value. This happens when moving the mouse too quickly and leaving the central "container" which the sliders and play buttons are locat

[2022-11-29 18:59] HaHeho commented on #106
In case this is relevant, I was using Firefox `102.5.0esr (64-bit)` on MacOS with mouse (not touch pad) inputs.